{% macro pager(paginator, routeName = '', slug = '', slugName='slug') %}
    {% set currentPage = app.request.get('page') %}
    {% set maxPage = (paginator.count / paginator.query.maxResults)|round(0, 'ceil')  %}
    {% set startFrom = 1 %}
    {% set end = maxPage %}

    {% if maxPage > 5 %}
        {# case of current page bigger than 3 #}
        {% if currentPage - 2 > 1  %}
            {% set startFrom = currentPage - 2 %}
        {% endif %}

        {# In the begining #}
        {% if currentPage < 3 %}
            {% set end = 5 %}
        {% endif %}

        {# Going near the end #}
        {% if currentPage + 3 > maxPage %}
            {% set startFrom = maxPage - 4 %}
            {% set end = maxPage %}
        {% endif %}
    {% else %}
        {% set end = maxPage %}
    {% endif %}

    {% if end > 1 or currentPage != 1 %}
        <nav class="paginator">
            <ul class="pagination">
                <li style="{% if currentPage == 1 %}display:none{% endif %}">
                    {% if slug is defined and slug is not null and slug|length %}
                        <a href="{{ path(routeName, {(slugName): slug, 'page' : currentPage - 1}) }}">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    {% else %}
                        <a href="{{ path(routeName, {'page' : currentPage - 1}) }}">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    {% endif %}
                </li>
                {% if end > 5 %}
                    <li>
                        {% if slug is defined and slug is not null and slug|length %}
                            <a href="{{ path(routeName, {(slugName): slug, 'page' : 1}) }}">1</a>
                        {% else %}
                            <a href="{{ path(routeName, {'page' : 1}) }}">1</a>
                        {% endif %}
                    </li>
                    <li class="disabled">...</li>
                {% endif %}

                {% for i in startFrom..end %}
                    <li class="{% if i == currentPage %}active{% endif %}">
                        {% if slug is defined and slug is not null and slug|length %}
                            <a href="{{ path(routeName, {(slugName): slug, 'page' : i}) }}">{{i}}</a>
                        {% else %}
                            <a href="{{ path(routeName, {'page' : i}) }}">{{i}}</a>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if currentPage + 2 < maxPage and maxPage > 5 %}
                    <li class="dots">...</li>
                    {% if slug is defined and slug is not null and slug|length %}
                        <a href="{{ path(routeName, {(slugName): slug, 'page' : maxPage}) }}">{{maxPage}}</a>
                    {% else %}
                        <a href="{{ path(routeName, {'page' : maxPage}) }}">{{maxPage}}</a>
                    {% endif %}
                {% endif %}

                <li style="{% if currentPage == maxPage %}display:none{% endif %}">
                    {% if slug is defined and slug is not null and slug|length %}
                        <a href="{{ path(routeName, {(slugName): slug, 'page' : currentPage + 1}) }}">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    {% else %}
                        <a href="{{ path(routeName, {'page' : currentPage + 1}) }}">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}
{% endmacro %}
