{% for field_description in admin.list.elements %}
    {% if field_description.name == '_action' %}
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
            <td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
                <div class="btn-group">
                    <a href="{{ admin.generateObjectUrl('untrash', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_untrash'|trans({}, 'NTCoreBundle') }}">
                        <i class="fa fa-reply"></i>
                        {{ 'action_restore'|trans({}, 'NTCoreBundle') }}
                    </a>
                </div>
            </td>
        {% endif %}
        {% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
            <td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
                <div class="btn-group">
                    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_untrash'|trans({}, 'NTCoreBundle') }}">
                        <i class="glyphicon glyphicon-trash"></i>
                        {{ 'action_delete'|trans({}, 'NTCoreBundle') }}
                    </a>
                </div>
            </td>
        {% endif %}
    {% else %}
        {{ object|render_list_element(field_description) }}
    {% endif %}
{% endfor %}